.box {
    border: 1px solid #1aac9b;
    font-family: Verdana, 'Lucida Grande', 'Trebuchet MS', Arial, Sans-Serif;
}

.box-header {
    border-bottom: 1px solid #1aac9b;
    background-color: #1aac9b;
    color: white;
    padding: 2px;
    font-weight: bold;
}

.box-body {
    padding: 10px;
    font-size: 1.2em;
}

.e {
    border: 1px solid cadetblue;
    padding: 1px;
}

.required {
    color: red;
}

.childTable {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

#firstChildTable {
  border-top: 1px solid #ddd;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1aac9b;
    padding-left: 25%;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
