<div class="tb-hiv-info">
    <h2>TB/HIV Information</h2>
    <div class="box">
        <div class="box-header">General</div>
        <div class="box-body">
            <table>
                <tr>
                    <td>Date: </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Captured By: </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <div class="box-header">HIV Serology</div>
        <div class="box-body">
            <strong>HIV Test:</strong> Result <input type="text"> Date: <input type="text">
        </div>
    </div>
    <div class="box">
        <div class="box-header">Therapy Details</div>
        <div class="box-body">
            <table>
                <tr>
                    <td>Anti-Retroviral Started:</td>
                    <td><input type="text"></td>
                    <td>Anti-Retroviral Start Date:</td>
                    <td><input type="date"></td>
                </tr>
                <tr>
                    <td>HIV IPT Started:</td>
                    <td><input type="text"></td>
                    <td>HIV IPT Start Date:</td>
                    <td><input type="date"></td>
                </tr>
                <tr>
                    <td>HIV CPT Started:</td>
                    <td><input type="text"></td>
                    <td>HIV CPT Start Date:</td>
                    <td><input type="date"></td>
                </tr>
            </table>
        </div>
    </div>
    <input type="submit" value="Enter Form">
</div>