<div class="tb-hiv-info">
    <h2>TB/HIV Information</h2>
    <div class="box">
        <div class="box-header">General</div>
        <div class="box-body">
            <table>
                <tr>
                    <td>Date: </td>
                    <td><input type="date"> (dd/mm/yyyy)</td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td>
                        <select name="location" style="width: 170px">
                            <option value="uknown">Unknown</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Captured By: </td>
                    <td>
                        <select name="captured_by" style="width: 170px">
                            <option value="dr_smith">Dr Smith</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <div class="box-header">HIV Serology</div>
        <div class="box-body">
            <strong>HIV Test:</strong> Result <select name="result">
            <option value="positive">POSITIVE</option>
            <option value="negative">NEGATIVE</option></select> Date: <input type="date"> (dd/mm/yyyy)
        </div>
    </div>
    <div class="box">
        <div class="box-header">Therapy Details</div>
        <div class="box-body">
            <table>
                <tr>
                    <td>Anti-Retroviral Started:</td>
                    <td>
                        <select name="anti_retroviral_started"></select>
                    </td>
                    <td>Anti-Retroviral Start Date:</td>
                    <td><input type="date"> (dd/mm/yyyy)</td>
                </tr>
                <tr>
                    <td>HIV IPT Started:</td>
                    <td>
                        <select name="hiv_ipt_started"></select>
                    </td>
                    <td>HIV IPT Start Date:</td>
                    <td><input type="date"> (dd/mm/yyyy)</td>
                </tr>
                <tr>
                    <td>HIV CPT Started:</td>
                    <td>
                        <select name="hiv_cpt_started"></select>
                    </td>
                    <td>HIV CPT Start Date:</td>
                    <td><input type="date"> (dd/mm/yyyy)</td>
                </tr>
            </table>
        </div>
    </div>
    <input type="submit" value="Enter Form">
</div>