<h2>Create a New Patient</h2>
<form class="patientCreateForm">
    <table>
      <tr>
        <td class="childTable" id="firstChildTable">
          <table>
            <tr>
              <td><strong>Person Name</strong></td>
              <td>Given<span class="required">*</span></td>
              <td>Middle </td>
              <td>Family Name<span class="required">*</span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" class="e" style="width: 210px;"></td>
              <td><input type="text" class="e" style="width: 210px;"></td>
              <td><input type="text" class="e" style="width: 210px;"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table class="identifierTable">
            <tr>
              <td><strong>ID Number(s)</strong></td>
              <td>Identifier<span class="required"></span></td>
              <td>Identifier Type</td>
              <td>Identifier Location</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" style="width: 210px;" class="e"></td>
              <td><input type="text" style="width: 210px;" class="e"></td>
              <td><input type="text" style="width: 210px;" class="e"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table>
            <tr>
              <td><strong>Demographics</strong></td>
              <td>Gender</td>
              <td>Age</td>
              <td>Birthdate</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="radio" name="gender">Male <input type="radio" name="gender">Female</td>
              <td><input type="text" class="e"></td>
              <td><input type="date" class="e"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table>
            <tr>
              <td><strong>Address</strong></td>
              <td>Address</td>
              <td>Address 2</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" class="e" width="210px"></td>
              <td><input type="text" class="e" width="210px"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Save"/><input type="submit" value="Back" ng-click="vm.back()"/>
        </td>
      </tr>
    </table>
</form>
