<h2>Create a New Patient</h2>
<form class="patientCreateForm">
    <table>
      <tr>
        <td class="childTable" id="firstChildTable">
          <table>
            <tr>
              <td><strong>Person Name</strong></td>
              <td>Given<span class="required">*</span></td>
              <td>Middle </td>
              <td>Family Name<span class="required">*</span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" class="e" style="width: 210px;" ng-model="vm.patient.person.names[0].givenName"></td>
              <td><input type="text" class="e" style="width: 210px;" ng-model="vm.patient.person.names[0].middleName"></td>
              <td><input type="text" class="e" style="width: 210px;" ng-model="vm.patient.person.names[0].familyName"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table class="identifierTable">
            <tr>
              <td><strong>ID Number(s)</strong></td>
              <td>Identifier<span class="required">*</span></td>
              <td>Identifier Type <span class="required">*</span></td>
              <td>Identifier Location <span class="required">*</span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" style="width: 180px;" class="e" ng-model="vm.patient.identifiers[0].identifier"></td>
              <td><select ng-model="vm.patient.identifiers[0].identifierType">
                <option value="">-- Select an Identifier Type --</option>
                <option ng-repeat="identifier in vm.identifiers" value="{{identifier.uuid}}">{{identifier.display}}</option>
              </select></td>
              <td><select ng-model="vm.patient.identifiers[0].location">
                <option value="">-- Select Identifier Location --</option>
                <option ng-repeat="location in vm.locations" value="{{location.uuid}}">{{location.display}}</option>
              </select></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table>
            <tr>
              <td><strong>Demographics</strong></td>
              <td>Gender</td>
              <td>Age</td>
              <td>Birthdate</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="radio" name="gender" value="M" ng-model="vm.patient.person.gender">Male <input type="radio" name="gender" value="F" ng-model="vm.patient.person.gender">Female</td>
              <td><input type="text" class="e" ng-model="vm.patient.person.age"></td>
              <td><input type="date" class="e" ng-model="vm.patient.person.birthdate"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="childTable">
          <table>
            <tr>
              <td><strong>Address</strong></td>
              <td>Address</td>
              <td>Address 2</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="text" class="e" width="210px" ng-model="vm.patient.person.addresses[0].address1"></td>
              <td><input type="text" class="e" width="210px" ng-model="vm.patient.person.addresses[0].address2"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Save" ng-click="vm.createPatient()"/>
        </td>
      </tr>
    </table>
</form>
