<h2>Patient Search</h2>
<div class="box">
    <div class="box-header">Find Patient(s)</div>
    <div class="box-body">
        Patient Name: <input type="text" style="width: 210px;" class="e" ng-model="vm.query" ng-change="vm.search()"><br><br>
        <div ng-hide="vm.hide">
            <table class="mytable foundPatients">
                <tr>
                    <th> Identifier </th>
                    <th> Name </th>
                    <th> Gender </th>
                    <th> Age </th>
                    <th> Birthdate </th>
                    <th> Action</th>
                </tr>
                <tr ng-repeat="patient in vm.patients | filter: vm.query">
                    <td> {{patient.identifiers[0].identifier}} </td>
                    <td> {{patient.person.display}} </td>
                    <td> {{patient.person.gender}} </td>
                    <td> {{patient.person.age}} </td>
                    <td> {{patient.person.birthdate | date}} </td>
                    <td><a href="" ui-sref="patients({patientId: patient.uuid})">View</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
