<div class="box">
    <div class="body">
        <table class="mytable">
            <theader>
                <tr>
                    <th>Patient</th>
                    <th>Form</th>
                    <th>Action</th>
                </tr>
            </theader>
            <tbody>
                <tr ng-repeat="request in vm.queue track by $index">
                    <td>{{request.display}}</td>
                    <td>{{request.form}}
                    <td><!--<button>View</button>&nbsp;--><button ng-click="vm.cancel($index)">Cancel</button>&nbsp;<button ng-click="vm.sync(request, $index)">Sync</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>